{% extends 'front/base_update.html' %}

{% block title %}Paying for College - Compare financial aid and college cost{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}comparisontool/css/comparison-tool.css">
{% endblock %}

{% block content %}
		
		
		
		
		<div id="comparison-tool" class="comparison-tool">
		
			<header id="comparison-tool-header">
				<a class="noStyles" href="/paying-for-college/"><h1 class='p4ch'>Paying for College</h1></a>
				<div class="horizontal-bar orange-bg">Compare financial aid and college cost</div>
				
			</header><!-- end #comparison-tool-header -->
			
			<section class="about-section" id="estimated_debt">
				<div class="container">
					<div class="wrapper">
						<header class="section-header">
							<div class="col3">
								<h2>Estimated Debt After School</h2>
							</div>
							<div class="col7">
								<p>Based on what you’ve entered below, we’ve come up with a rough estimate of what your monthly payment would be if you borrowed the same amount each year of your program, completed your program on time (4 years for a Bachelors Degree), and paid your loan on a standard 10-year repayment schedule. To come up with this estimate, we’ve made certain assumptions about your total debt at graduation, the interest rate of your loans, and when you’ll begin repayment.</p>
								<p>See “<a href="{% url pfc-technote %}">About this Worksheet</a>” for more details.</p>
							</div>
							<div class="clear"></div>
						</header>
						<div class="clear"></div>
					</div><!-- end .wrapper -->
				</div><!-- end .container -->
			</section><!-- end .about-section -->
			
			<section class="about-section" id="debt_burden">
				<div class="container">
					<div class="wrapper">
						<header class="section-header">
							<div class="col3">
								<h2>Debt Burden </h2>
							</div>
							<div class="col7">
<p>Your debt burden measures your estimated debt after school against the national average starting salary for college grads. Again, it’s an average. If you make more money, you’ll have a lower burden. It also doesn’t factor in specific information about your school or special repayment programs, like Income Based Repayment or Public Service Loan Forgiveness.</p>
								<p>See “<a href="{% url pfc-technote %}">About this Worksheet</a>” for more details.</p>
							
							
							
							</div>
							<div class="clear"></div>
						</header>
						
						<div class="clear"></div>
					</div><!-- end .wrapper -->
				</div><!-- end .container -->
			</section><!-- end .about-section -->
			
			<section class="about-section" id="financial_aid">
				<div class="container">
					<div class="wrapper">
						<header class="section-header">
							<div class="col3">
								<h2>Financial Aid Offer</h2>
							</div>
							<div class="col7">
								<p>After you fill out your Free Application for Federal Student Aid (FAFSA), each college that sends you an acceptance letter should also send you a financial aid offer letter. This should include the types and amounts of “financial aid” being offered to the student.</p>
								<ul>
									<li><a href="http://studentaid.ed.gov/types/grants-scholarships/pell">Pell Grants</a> are federal grants that do not have to be repaid and are awarded based on your financial need, up to $5,550 per year.</li>
									<li>Military Tuition Assistance: Servicemembers (active &amp;
									 reserve) are eligible to receive up to $4,500 per year. Military TA benefits do not need to be repaid.</li>
									<li>GI Bill Benefits offer education benefits for servicemembers and veterans. This funding covers tuition &amp; fees, a monthly living allowance, and an annual book stipend. GI Bill benefits do not need to be repaid.</li>
									<li><a href="http://studentaid.ed.gov/PORTALSWebApp/students/english/campusaid.jsp">Perkins Loans</a> are low-interest loan for students with financial need and do not accrue interest while students are enrolled in school, up to $5,500 per year.</li>
									<li><a href="http://studentaid.ed.gov/PORTALSWebApp/students/english/studentloans.jsp">Subsidized Loans</a> are federal loans for students who demonstrate financial need and do not accrue interest while students are enrolled in school. These loans, which must be repaid, are available for up to $3,500 per year for first year college students.</li>
									<li><a href="http://studentaid.ed.gov/PORTALSWebApp/students/english/studentloans.jsp">Unsubsidized Loans</a> do not require students to demonstrate financial need; but, do accrue interest while students are in school. All dependent, undergraduate students may borrow up to $5,500 per year in subsidized and unsubsidized loans. For independent undergraduate students, this limit rises to $9,500 per year.</li>
									<li>Loans from Your School: A private loan from your school may have variable interest rates, require a credit check and/or a cosigner and lack many of the repayment options of federal student loans.</li>
									<li>Private Loans often have variable interest rates, require a credit check and/or a cosigner and lack many of the repayment options of federal student loans. Students should explore all of their federal grant and loan options before taking out a private student loan.</li>
								</ul>
								<p>See “<a href="{% url pfc-technote %}">About this Worksheet</a>” for more details.</p>
							


							</div>
							<div class="clear"></div>
						</header>

						<div class="clear"></div>
					</div><!-- end .wrapper -->
				</div><!-- end .container -->
			</section><!-- end .about-section -->

			<section class="about-section" id="first_year">
				<div class="container">
					<div class="wrapper">
						<header class="section-header">
							<div class="col3">
								<h2>First-Year Costs</h2>
							</div>
							<div class="col7">
<p>Using your financial aid offer letter  enter in your first year tuition &amp; fees, housing &amp; meals, books &amp; supplies and other expenses. If you have not yet received your offer letter you can find that information by searching Department of Education’s “<a href="http://nces.ed.gov/collegenavigator/" target="_blank">College Navigator</a>”. Once you find the school you are considering click on the “Tuition, Fees and Estimated Student Expenses” tab</p>
								<p>See “<a href="{% url pfc-technote %}">About this Worksheet</a>” for more details.</p>
							
							
							
							</div>
							<div class="clear"></div>
						</header>
						
						<div class="clear"></div>
					</div><!-- end .wrapper -->
				</div><!-- end .container -->
			</section><!-- end .about-section -->

			
		</div><!-- end #about-worksheet -->
{% endblock content %}
