{% extends 'front/base_update.html' %}

{% block title %}Paying for College Cost Comparison Worksheet{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}comparisontool/css/comparison-tool.css">
{% endblock %}

{% block content %}

<div id="comparison-tool">
		
			<header id="comparison-tool-header">
				<a class="noStyles" href="/paying-for-college/"><h1 class='p4ch'>Paying for College</h1></a>
				<div class="horizontal-bar orange-bg">Compare financial aid and college cost</div>				
			</header><!-- end #comparison-tool-header -->
			
			<section class="about-section">
				<div class="container">
					<div class="wrapper">
						<header class="section-header">
							<div class="col3">
								<h2>Technical Notes and Assumptions</h2>
							</div>
							<div class="col7">
								<h3>For users interested in learning more about how specific sections of this tool work, scroll down to the relevant section below. A warning that some of this information may be a bit technical, but we want to be open and transparent in order to generate high-quality feedback.</h3>
								<p>Below is more information on how we developed this version of the tool, including the data we’ve used and assumptions we’ve made:</p>
							</div>
							<div class="clear"></div>
						</header>
				
						<div class="clear"></div>
					</div><!-- end .wrapper -->
				</div><!-- end .container -->
			</section><!-- end .about-section -->

			<section class="about-section">
				<div class="container">
					<div class="wrapper">
						<header class="section-header">
							<div class="col3">
								<h2>Estimated Debt After School</h2>
							</div>
							<div class="col7">
								<p>This is the estimated monthly payment for each student after graduation. In calculating estimated monthly repayment amounts, we assume that students complete bachelor’s degrees in four years; that the sticker price or cost of attendance remains constant for the duration of the program; and that students take out the same loans (both type and amount) for each year that they are in school. In fact, students may take longer to complete their degrees; institutions have historically increased tuition prices each year; and students may make different financing decisions in different years.</p>
								<p>We also assume a standard repayment-term of ten years and that students begin repayment after they graduate and their allotted grace period expires (between 6-9 months after graduating, depending on the type of loan). For federal student loans, we apply the interest rates for originations beginning on July 1, 2012:</p>
								<ul>
									<li>Perkins: 5%</li>
									<li>Direct Subsidized: 3.4%</li>
									<li>Direct Unsubsidized: 6.8%</li>
									<li>Department of Education also charges a 1% loan fee on all Direct Subsidized Loans and Direct Unsubsidized Loans.</li>
								</ul>
								<p>These rates are governed by the laws governing federal student loan programs, including the Higher Education Act.</p>
								<p>For institutional and private student loans, we assume a fixed interest rate of 7.9%, which is identical to the PLUS loan rate. Actual interest rates on institutional and private student loans may be significantly different both in level and whether they vary throughout the duration of the loan.</p>
							</div>
							<div class="clear"></div>
						</header>
				
						<div class="clear"></div>
					</div><!-- end .wrapper -->
				</div><!-- end .container -->
			</section><!-- end .about-section -->
						
			<section class="about-section">
				<div class="container">
					<div class="wrapper">
						<header class="section-header">
							<div class="col3">
								<h2>Debt Burden</h2>
							</div>
							<div class="col7">
								<p>Debt burden represents the total amount of a student’s expected educational debt relative to average starting salary at graduation. Total debt is calculated as described above. Since institution-specific salary data is not available, this version of the tool uses the average salary one year after graduation for a student with a bachelor’s degree, as reported by the <a href="http://nces.ed.gov/surveys/b&b/">Department of Education’s Baccalaureate and Beyond study</a>. Adjusted for inflation, this figure equates to $30,922 per year on a pre-tax basis.</p>
								<p>Debt burden does not take into account that the average starting salary of graduates of particular institutions may vary. This tool will provide an indication of whether debt burden is low, medium, or high as follows:</p>
								<ul>
									<li>Low: monthly payment is &lt; 8%  of average monthly salary</li>
									<li>Medium: monthly payment is 8%–14% of average monthly salary</li>
									<li>High: monthly payment is &gt; 14% of average monthly salary</li>
								</ul>
								<p>Since this version uses the same salary assumption across institutions, the debt burden indicator is not specific to an institution.</p>
							</div>
							<div class="clear"></div>
						</header>
				
						<div class="clear"></div>
					</div><!-- end .wrapper -->
				</div><!-- end .container -->
			</section><!-- end .about-section -->
						
{% endblock content %}