{% extends "front/base_update.html" %} 

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% get_media_prefix as MEDIA_PREFIX %}

{% block title %}Compare financial aid and college cost{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}comparisontool/css/comparison-tool.css">
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/">Home</a></li>
    <li><a href="/paying-for-college/">Paying for College</a></li>
    <li>Compare financial aid and college cost</li>
{% endblock %}

{% block page_js %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script>

jQuery(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});

</script>

<script type="text/javascript">
var restoredata = {{ data_js|safe }};
var csrftok = "{{ csrf_token }}";
</script>

<script type="text/javascript" src="{{ STATIC_PREFIX }}comparisontool/js/xml2json.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}comparisontool/js/comparison-tool.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}comparisontool/js/comparison-analytics.js"></script>

{% endblock page_js %}

{% block content %}
<div id="comparison-tool" page="visualize">
		<header id="comparison-tool-header">

			<h1>Paying for College<sup>Beta</sup></h1>
            <div class="horizontal-bar orange-bg">Compare financial aid and college cost</div>

            <div class="timeline">
                <div class="process-label" id="process-label-apply">Apply for college</div>
                <div class="process-label" id="process-label-financial">Find financial aid</div>
                <div class="process-label" id="process-label-choose">Choose a school</div>
                <div class="process-label" id="process-label-attend">Attend college</div>
                <div class="process-label" id="process-label-graduate">Graduate</div>

                <div class="event-dot" id="event-dot-apply"></div>
                <div class="event-dot" id="event-dot-financial"></div>
                <div class="event-dot" id="event-dot-choose"></div>
                <div class="event-dot" id="event-dot-attend"></div>
                <div class="event-dot" id="event-dot-graduate"></div>
                
                <a href="http://nces.ed.gov/collegenavigator/">
                <div class="ico-process ico-process-applications" id="process-icon-applications"></div></a>
                <div class="process-label process-hover" id="process-label-research">Research<br>schools</div>


               <a href="http://fafsa.ed.gov">
                <div class="ico-process ico-process-fafsa" id="process-icon-fafsa"></div> </a>
                <div class="process-label process-hover" id="process-label-fafsa">Fill out a FAFSA</div>

            
                <a href="/paying-for-college/choose-a-student-loan/">
                <div class="ico-process ico-process-loans-guide" id="process-icon-loans-guide"></div> </a>
                <div class="process-label process-hover" id="process-label-loans-guide">Choose a loan</div>                
               
                
                <a href="/paying-for-college/compare-financial-aid-and-college-cost/">
                <div class="ico-process ico-process-comparison selected" id="process-icon-comparison"></div></a>
                <div class="process-label process-hover" id="process-label-comparison">Compare financial aid<br>and college cost</div>              
            
                <a href="/paying-for-college/manage-your-college-money/">
                <div class="ico-process ico-process-banking-guide" id="process-icon-banking-guide"></div></a>
                 <div class="process-label process-hover" id="process-label-banking-guide">Manage your<br>college money</div>
            
                <a href="/paying-for-college/repay-student-debt/">
                <div class="ico-process ico-process-ultratool" id="process-icon-ultratool"></div></a>
                <div class="process-label process-hover" id="process-label-ultratool">Repay student debt</div>
                </div>

		</header><!-- end #comparison-tool-header -->

		<section id="comparison-tables">
			<table>
				<thead>
					<tr id="institution-row">
						<td data-column="0"></td>
						<th scope="col" data-column="1" data-default="true">
							<div class="add-school-info hidden-box">
								<div class="school-search">
									<label for="school-name-search" class="school-name">What's the name of the school?</label>
									<input type="text" name="schoolname-search" class="school-search-box">
									<ul class="search-results"></ul>
									<button class="add-average-public">Set values to Average Public 4-year University</button>
									<button class="add-average-private">Set values to Average Private 4-year University</button>
								</div>
								<div class="program-selection hidden-box">
									<h3>Program Type</h3>
									<input class="radio-input" type="radio" name="program1" valu`e="aa">
									<label class="radio-label">Associate's/Certificate</label>
									<input class="radio-input" type="radio" name="program1" value="ba" checked="checked">
									<label class="radio-label">Bachelor's</label>	
									<input class="radio-input" type="radio" name="program1" value="grad">
									<label class="radio-label">Graduate</label>
									<button class="continue">Continue</button>
								</div>
								<div class="prgmlength-selection hidden-box">	
									<h3>Program Length</h3>
									<select name="prgmlength">
										<option value="5">5 years</option>
										<option value="4" selected="selected">4 years</option>
										<option value="3">3 years</option>
										<option value="2">2 years</option>
										<option value="1">1 year</option>
									</select>
									<button class="continue">Continue</button>
								</div>
								<div class="add-xml hidden-box">
									<h2 class="institutionname"></h2>
									<p>It looks like this school adopted the Financial Aid Shopping Sheet. Awesome, that will make this much easier!</p>
									<p>If this school provided you with an XML version of your Financial Aid Shopping Sheet, you can paste it below.</p>
									<p>Or you can continue and enter it manually.</p>
									<button class="continue">Continue</button>
									<textarea name="xmlbukkit"></textarea>
									<button class="xml-magic-happens">Use this XML</button>
								</div>
							</div>
							<a class="add-a-school hidden-box" href="#">Add a School <span class="huge">+</span></a>
							<div class="remove-this-school">
								<a class="remove-school-link" href="#">Remove This School</a>
							</div>
							<div class="remove-confirm hidden-box">
								Are you sure you want to remove this school?
								<a href="#" class="remove-yes">Yes</a> <a href="#" class="remove-no">No</a>
							</div>
							<h2 name="institutionname"></h2>
							<a href="" class="navigator-link hidden-box" target="_blank">Look up school information.</a>
						</th>
						<th scope="col" data-column="2" >
							<div class="add-school-info hidden-box">
								<div class="school-search">
									<label for="school-name-search" class="school-name">What's the name of the school?</label>
									<input type="text" name="schoolname-search" class="school-search-box">
									<ul class="search-results"></ul>
									<button class="add-average-public">Set values to Average Public 4-year University</button>
									<button class="add-average-private">Set values to Average Private 4-year University</button>									
								</div>
								<div class="program-selection hidden-box">
									<h3>Program Type</h3>
									<input class="radio-input" type="radio" name="program2" value="aa">
									<label class="radio-label">Associate's/Certificate</label>
									<input class="radio-input" type="radio" name="program2" value="ba" checked="checked">
									<label class="radio-label">Bachelor's</label>	
									<input class="radio-input" type="radio" name="program2" value="grad">
									<label class="radio-label">Graduate</label>
									<button class="continue">Continue</button>
								</div>
								<div class="prgmlength-selection hidden-box">
									<h3>Program Length</h3>
									<select name="prgmlength">
										<option value="5">5 years</option>
										<option value="4" selected="selected">4 years</option>
										<option value="3">3 years</option>
										<option value="2">2 years</option>
										<option value="1">1 year</option>
									</select>
									<button class="continue">Continue</button>
								</div>
								<div class="add-xml hidden-box">
									<h2 class="institutionname"></h2>
									<p>It looks like this school adopted the Financial Aid Shopping Sheet. Awesome, that will make this much easier!</p>
									<p>If this school provided you with an XML version of your Financial Aid Shopping Sheet, you can paste it below.</p>
									<p>Or you can continue and enter it manually.</p>
									<button class="continue">Continue</button>
									<textarea name="xmlbukkit"></textarea>
									<button class="xml-magic-happens">Use this XML</button>
								</div>
							</div>
							<a class="add-a-school hidden-box" href="#">Add a School <span class="huge">+</span></a>
							<div class="remove-this-school">
								<a name="focus_target"></a><a class="remove-school-link" href="#">Remove This School</a>
							</div>
							<div class="remove-confirm hidden-box">
								Are you sure you want to remove this school?
								<a href="#" class="remove-yes">Yes</a> <a href="#" class="remove-no">No</a>
							</div>
							<h2 name="institutionname"></h2>
						</th>
						<th scope="col" data-column="3">
							<div class="add-school-info hidden-box">
								<div class="school-search">
									<label for="school-name-search" class="school-name">What's the name of the school?</label>
									<input type="text" name="schoolname-search" class="school-search-box">
									<ul class="search-results"></ul>
									<button class="add-average-public">Set values to Average Public 4-year University</button>
									<button class="add-average-private">Set values to Average Private 4-year University</button>
								</div>
								<div class="program-selection hidden-box">
									<h3>Program Type</h3>
									<input class="radio-input" type="radio" name="program3" value="aa">
									<label class="radio-label">Associate's/Certificate</label>
									<input class="radio-input" type="radio" name="program3" value="ba" checked="checked">
									<label class="radio-label">Bachelor's</label>	
									<input class="radio-input" type="radio" name="program3" value="grad">
									<label class="radio-label">Graduate</label>
									<button class="continue">Continue</button>
								</div>
								<div class="prgmlength-selection hidden-box">
									<h3>Program Length</h3>
									<select name="prgmlength">
										<option value="5">5 years</option>
										<option value="4" selected="selected">4 years</option>
										<option value="3">3 years</option>
										<option value="2">2 years</option>
										<option value="1">1 year</option>
									</select>
									<button class="continue">Continue</button>
								</div>
								<div class="add-xml hidden-box">
									<h2 class="institutionname"></h2>
									<p>It looks like this school adopted the Financial Aid Shopping Sheet. Awesome, that will make this much easier!</p>
									<p>If this school provided you with an XML version of your Financial Aid Shopping Sheet, you can paste it below.</p>
									<p>Or you can continue and enter it manually.</p>
									<button class="continue">Continue</button>
									<textarea name="xmlbukkit"></textarea>
									<button class="xml-magic-happens">Use this XML</button>
								</div>
							</div>
							<a class="add-a-school hidden-box" href="#">Add a School <span class="huge">+</span></a>
							<div class="remove-this-school">
								<a name="focus_target"></a><a class="remove-school-link" href="#">Remove This School</a>
							</div>
							<div class="remove-confirm hidden-box">
								Are you sure you want to remove this school?
								<a href="#" class="remove-yes">Yes</a> <a href="#" class="remove-no">No</a>
							</div>
							<h2 name="institutionname"></h2>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="width-holder"><h3 id="first-year-costs">First Year Costs</h3></th>
						<th class="width-holder"></th>
						<th class="width-holder"></th>
						<th class="width-holder"></th>
					</tr>
					<tr class="totalcost show arrw">
						<th scope="row" data-column="0"><h4>Cost of Attendance</h4></th>
						<td data-column="1"><h6 class="data-total" name="firstyrcostattend">$0</h6></td>
						<td data-column="2"><h6 class="data-total" name="firstyrcostattend">$0</h6></td>
						<td data-column="3"><h6 class="data-total" name="firstyrcostattend">$0</h6></td>
					</tr>
					<tr>
						<th scope="row" data-column="0"><label for="tuitionfees"><span class="tooltip-info" data-tooltip="Tuition &amp; Fees: Tuition and fees are what the school charges the student to participate in classes.">Tuition &amp; Fees</span></label></th>
						<td data-column="1"><input type="text" class="school-data" value="0" name="tuitionfees"></td>
						<td data-column="2"><input type="text" class="school-data" value="0" name="tuitionfees"></td>
						<td data-column="3"><input type="text" class="school-data" value="0" name="tuitionfees"></td>
					</tr>
					<tr>
						<th data-column="0"><label for="roombrd"><span class="tooltip-info" data-tooltip="Housing &amp; Meals: Cost of meals and housing. Usually based on the cost for a full time student to live and eat on campus.">Housing &amp; Meals</span></label></th>
						<td data-column="1"><input type="text" class="school-data" value="0" name="roombrd"></td>
						<td data-column="2"><input type="text" class="school-data" value="0" name="roombrd"></td>
						<td data-column="3"><input type="text" class="school-data" value="0" name="roombrd"></td>
					</tr>
					<tr>
						<th scope="row" data-column="0"><label for="books"><span class="tooltip-info" data-tooltip="Books &amp; Supplies: Cost of books and supplies for an entire academic year.">Books &amp; Supplies</span></label></th>
						<td data-column="1"><input type="text" class="school-data" value="0" name="books"></td>
						<td data-column="2"><input type="text" class="school-data" value="0" name="books"></td>
						<td data-column="3"><input type="text" class="school-data" value="0" name="books"></td>
					</tr>
					<tr>
						<th scope="row" data-column="0"><label for="transportation"><span class="tooltip-info" data-tooltip="Transportation: Cost of gas, parking and/or public transportation expenses.">Transportation</span></label></th>
						<td data-column="1"><input type="text" class="school-data" value="0" name="transportation"></td>
						<td data-column="2"><input type="text" class="school-data" value="0" name="transportation"></td>
						<td data-column="3"><input type="text" class="school-data" value="0" name="transportation"></td>
					</tr>
					<tr>
						<th scope="row" data-column="0"><label for="otherexpenses"><span class="tooltip-info" data-tooltip="Other Expenses: Cost of items such as laundry and dependent care.">Other Expenses</span></label></th>
						<td data-column="1"><input type="text" class="school-data" value="0" name="otherexpenses"></td>
						<td data-column="2"><input type="text" class="school-data" value="0" name="otherexpenses"></td>
						<td data-column="3"><input type="text" class="school-data" value="0" name="otherexpenses"></td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<th><h3>First Year Financial Aid Offer</h3></th>
					</tr>
					<tr class="totalcont show arrw">
						<th scope="row" data-column="0"><h4>Money for College</h4></th>
						<td data-column="1"><h6 class="data-total" name="moneyforcollege">$0</h6></td>
						<td data-column="2"><h6 class="data-total" name="moneyforcollege">$0</h6></td>
						<td data-column="3"><h6 class="data-total" name="moneyforcollege">$0</h6></td>
					</tr>
					<tr class="grants collapse arrw">
						<th scope="row" data-column="0"><h5>Scholarships &amp; grants</h5></th>
						<td data-column="1"><h6 class="data-total" name="grantstotal">$0</h6></td>
						<td data-column="2"><h6 class="data-total" name="grantstotal">$0</h6></td>
						<td data-column="3"><h6 class="data-total" name="grantstotal">$0</h6></td>
					</tr>
					<tr class="grants-row">
						<th scope="row" data-column="0"><label for="pell" class="tooltip-info" data-tooltip="Pell Grants are federal grants that do not have to be repaid and are awarded based on your financial need, up to $5,550 per year.">Pell Grant</label></th>
						<td data-column="1"><input type="text" class="school-data" value="0" name="pell"></td>
						<td data-column="2"><input type="text" class="school-data" value="0" name="pell"></td>
						<td data-column="3"><input type="text" class="school-data" value="0" name="pell"></td>
					</tr>
					<tr class="grants-row">
						<th scope="row" data-column="0"><label for="scholar" class="tooltip-info" data-tooltip="Other Scholarships &amp; Grants: Any state, institutional and private aid you will receive that does not need to be repaid. ">Other Scholarships &amp; Grants</label></th>
						<td data-column="1"><input type="text" class="school-data" value="0" name="scholar"></td>
						<td data-column="2"><input type="text" class="school-data" value="0" name="scholar"></td>
						<td data-column="3"><input type="text" class="school-data" value="0" name="scholar"></td>
					</tr>
					<tr class="grants-row">
						<th scope="row" data-column="0"><label for="tuitionassist" class="tooltip-info" data-tooltip="Military Tuition Assistance: Service members (active &amp; reserve) are eligible to receive up to $4,500 per year. Military TA benefits do not need to be repaid.">Military Tuition Assistance</label></th>
						<td data-column="1"><input type="text" class="school-data" value="0" name="tuitionassist"></td>
						<td data-column="2"><input type="text" class="school-data" value="0" name="tuitionassist"></td>
						<td data-column="3"><input type="text" class="school-data" value="0" name="tuitionassist"></td>
					</tr>
					<tr class="grants-row">
						<th scope="row" data-column="0"><label for="gibill" class="tooltip-info" data-tooltip="GI Bill">GI Bill</label></th>
						<td data-column="1" class="p-rel">
							<a href="#" class="gibill-calculator">GI Bill Calculator</a>
							<div class="gibill-panel hidden-box">
								<span class="gibill-calculator-tip"></span>
								<fieldset>
									<label for="military-status">Military Status</label>
									<select name="military-status" class="military-status-select">
										<option value="none"  checked="checked">No Military Service</option>
										<option value="ad">Active</option>
										<option value="ng">Guard/Reserve</option>
										<option value="vet">Veteran</option>
									</select>
									<label for="tier">Cumulative Service</label>
									<select name="military-tier" class="military-tier-select" disabled="disabled">
									 	<option value="1" selected="selected">36+ months, including BASIC (100%)</option>
									 	<option value=".9">30 months, including BASIC (90%)</option>
									 	<option value=".8">24 months, including BASIC (80%)</option>
									 	<option value=".7">18 months, excluding BASIC (70%)</option>
									 	<option value=".6">12 months, excluding BASIC (60%)</option>
									 	<option value=".5">6 months, excluding BASIC (50%)</option>
									 	<option value=".4">90 days, excluding BASIC (40%)</option>
									 	<option value="0">Less than 90 days, excluding BASIC (0%)</option>
										<option value="1">Service Connected Discharge (100%)</option>
										<option value="1">MSGT Fry Scholarship (100%)</option>
									</select>
									<label for="military-residency">Residency</label>
									<div class="military-residency-panel">
										<input class="radio-input" type="radio" name="military-residency1" value="instate" checked="checked">
										<label class="radio-label" id="radio-instate">In-State</label>
										<input class="radio-input" type="radio" name="military-residency1" value="outofstate">
										<label class="radio-label" id="radio-outofstate">Out-of-State</label>
										<input class="radio-input" type="radio" name="military-residency1" value="indistrict">
										<label class="radio-label" id="radio-indistrict">In-District</label>
										<label class="military-instate" for="military-instate-tuition">In-State Tuition</label>
										<input class="military-instate" type="text" name="military-instate-tuition">
										<button class="military-calculate">Calculate</button>
									</div>
								</fieldset>
							</div>
							<input type="text" class="school-data" value="0" name="gibill" readonly="readonly">
						</td>
						<td data-column="2" class="p-rel">
							<a href="#" class="gibill-calculator">GI Bill Calculator</a>
							<div class="gibill-panel hidden-box">
								<span class="gibill-calculator-tip"></span>
								<fieldset>
									<label for="military-status">Military Status</label>
									<select name="military-status" class="military-status-select">
										<option value="none"  checked="checked">No Military Service</option>
										<option value="ad">Active</option>
										<option value="ng">Guard/Reserve</option>
										<option value="vet">Veteran</option>
									</select>
									<label for="tier">Cumulative Service</label>
									<select name="military-tier" class="military-tier-select" disabled="disabled">
									 	<option value="1" selected="selected">36+ months, including BASIC (100%)</option>
									 	<option value=".9">30 months, including BASIC (90%)</option>
									 	<option value=".8">24 months, including BASIC (80%)</option>
									 	<option value=".7">18 months, excluding BASIC (70%)</option>
									 	<option value=".6">12 months, excluding BASIC (60%)</option>
									 	<option value=".5">6 months, excluding BASIC (50%)</option>
									 	<option value=".4">90 days, excluding BASIC (40%)</option>
									 	<option value="0">Less than 90 days, excluding BASIC (0%)</option>
										<option value="1">Service Connected Discharge (100%)</option>
										<option value="1">MSGT Fry Scholarship (100%)</option>
									</select>
									<label for="military-residency">Residency</label>
									<div class="military-residency-panel">
										<input class="radio-input" type="radio" name="military-residency2" value="instate" checked="checked">
										<label class="radio-label" id="radio-instate">In-State</label>
										<input class="radio-input" type="radio" name="military-residency2" value="outofstate">
										<label class="radio-label" id="radio-outofstate">Out-of-State</label>
										<input class="radio-input" type="radio" name="military-residency2" value="indistrict">
										<label class="radio-label" id="radio-indistrict">In-District</label>
										<label class="military-instate" for="military-instate-tuition">In-State Tuition</label>
										<input class="military-instate" type="text" name="military-instate-tuition">
										<button class="military-calculate">Calculate</button>
									</div>
								</fieldset>
							</div>
							<input type="text" class="school-data" value="0" name="gibill" readonly="readonly">
						</td>
						<td data-column="3" class="p-rel">
							<a href="#" class="gibill-calculator">GI Bill Calculator</a>
							<div class="gibill-panel hidden-box">
								<span class="gibill-calculator-tip"></span>
								<fieldset>
									<label for="military-status">Military Status</label>
									<select name="military-status" class="military-status-select">
										<option value="none"  checked="checked">No Military Service</option>
										<option value="ad">Active</option>
										<option value="ng">Guard/Reserve</option>
										<option value="vet">Veteran</option>
									</select>
									<label for="tier">Cumulative Service</label>
									<select name="military-tier" class="military-tier-select" disabled="disabled">
									 	<option value="1" selected="selected">36+ months, including BASIC (100%)</option>
									 	<option value=".9">30 months, including BASIC (90%)</option>
									 	<option value=".8">24 months, including BASIC (80%)</option>
									 	<option value=".7">18 months, excluding BASIC (70%)</option>
									 	<option value=".6">12 months, excluding BASIC (60%)</option>
									 	<option value=".5">6 months, excluding BASIC (50%)</option>
									 	<option value=".4">90 days, excluding BASIC (40%)</option>
									 	<option value="0">Less than 90 days, excluding BASIC (0%)</option>
										<option value="1">Service Connected Discharge (100%)</option>
										<option value="1">MSGT Fry Scholarship (100%)</option>
									</select>
									<label for="military-residency">Residency</label>
									<div class="military-residency-panel">
										<input class="radio-input" type="radio" name="military-residency3" value="instate" checked="checked">
										<label class="radio-label" id="radio-instate">In-State</label>
										<input class="radio-input" type="radio" name="military-residency3" value="outofstate">
										<label class="radio-label" id="radio-outofstate">Out-of-State</label>
										<input class="radio-input" type="radio" name="military-residency3" value="indistrict">
										<label class="radio-label" id="radio-indistrict">In-District</label>
										<label class="military-instate" for="military-instate-tuition">In-State Tuition</label>
										<input class="military-instate" type="text" name="military-instate-tuition">
										<button class="military-calculate">Calculate</button>
									</div>
								</fieldset>
							</div>
							<input type="text" class="school-data" value="0" name="gibill" readonly="readonly">
						</td>
					</tr>

					<tr class="contributions arrw">
						<th scope="row" data-column="0"><h5>Contributions</h5></th>
						<td data-column="1"><h6 class="data-total" name="savingstotal">$0</h6></td>
						<td data-column="2"><h6 class="data-total" name="savingstotal">$0</h6></td>
						<td data-column="3"><h6 class="data-total" name="savingstotal">$0</h6></td>
					</tr>
					<tr class="contrib-row">
						<th scope="row" data-column="0"><label for="savings" class="tooltip-info" data-tooltip="What You Can Pay: How much will you be contributing in savings or future income (e.g. part time job) toward your education this year? ">What You Can Pay</label></th>
						<td data-column="1"><input type="text" class="school-data" value="0" name="savings"></td>
						<td data-column="2"><input type="text" class="school-data" value="0" name="savings"></td>
						<td data-column="3"><input type="text" class="school-data" value="0" name="savings"></td>
					</tr>
					<tr class="contrib-row">
						<th scope="row" data-column="0"><label for="family" class="tooltip-info" data-tooltip="What Family &amp; Others Can Pay: How much is your family or others planning to contribute toward your education this year? This includes 529 college savings plans.">What Family &amp; Others Can Pay</label></th>
						<td data-column="1"><input type="text" class="school-data" value="0" name="family"></td>
						<td data-column="2"><input type="text" class="school-data" value="0" name="family"></td>
						<td data-column="3"><input type="text" class="school-data" value="0" name="family"></td>
					</tr>
					<tr class="contrib-row">
						<th scope="row" data-column="0"><label for="state529plan" class="tooltip-info" data-tooltip="Parent Loans: Parents of dependent students may apply for a Direct PLUS Loan to help pay their child's education expenses. Some parents also consider taking out home equity loans using their homes as collateral. ">Parent Loans</label></th>
						<td data-column="1"><input type="text" class="school-data" value="0" name="state529plan"></td>
						<td data-column="2"><input type="text" class="school-data" value="0" name="state529plan"></td>
						<td data-column="3"><input type="text" class="school-data" value="0" name="state529plan"></td>
					</tr>
					<tr class="contrib-row">
						<th scope="row" data-column="0"><label for="workstudy" class="tooltip-info" data-tooltip="Work-Study: Federal Work-Study helps provide part-time jobs for undergraduate and graduate students with financial need, allowing them to earn money to help pay education expenses.">Work-Study</label></th>
						<td data-column="1"><input type="text" class="school-data" value="0" name="workstudy"></td>
						<td data-column="2"><input type="text" class="school-data" value="0" name="workstudy"></td>
						<td data-column="3"><input type="text" class="school-data" value="0" name="workstudy"></td>
					</tr>

					<tr class="federal arrw">
						<th data-column="0"><h5>Federal loans</h5></th>
						<td data-column="1"><h6 class="data-total" name="federaltotal">$0</h6></td>
						<td data-column="2"><h6 class="data-total" name="federaltotal">$0</h6></td>
						<td data-column="3"><h6 class="data-total" name="federaltotal">$0</h6></td>
					</tr>
					<tr class="federal-row">
						<th scope="row" data-column="0"><label for="perkins" class="tooltip-info" data-tooltip="Perkins Loans are low-interest loan for students with financial need and do not accrue interest while students are enrolled in school, up to $5,500/year.">Perkins Loan</label></th>
						<td data-column="1"><input type="text" class="school-data" value="0" name="perkins"></td>
						<td data-column="2"><input type="text" class="school-data" value="0" name="perkins"></td>
						<td data-column="3"><input type="text" class="school-data" value="0" name="perkins"></td>
					</tr>
					<tr class="federal-row">
						<th scope="row" data-column="0"><label for="staffsubsidized" class="tooltip-info" data-tooltip="Subsidized Loans are federal loans for students who demonstrate financial need and do not accrue interest while students are enrolled in school. These loans, which must be repaid, are available for up to $3,500 per year for first yea&nbsp;r college students.">Subsidized Loan</label></th>
						<td data-column="1"><input type="text" class="school-data" value="0" name="staffsubsidized"></td>
						<td data-column="2"><input type="text" class="school-data" value="0" name="staffsubsidized"></td>
						<td data-column="3"><input type="text" class="school-data" value="0" name="staffsubsidized"></td>
					</tr>
					<tr class="federal-row">
						<th scope="row" data-column="0"><label for="staffunsubsidized" class="tooltip-info" data-tooltip="Unsubsidized Loans do not require students to demonstrate financial need; but, do accrue interest while students are in school. All dependent, undergraduate students may borrow up to $5,500 per year in subsidized and unsubsidized loans. For independent undergraduate students, this limit rises to $9,500 per year.">Unsubsidized Loan</label></th>
						<td data-column="1"><input type="text" class="school-data" value="0" name="staffunsubsidized"></td>
						<td data-column="2"><input type="text" class="school-data" value="0" name="staffunsubsidized"></td>
						<td data-column="3"><input type="text" class="school-data" value="0" name="staffunsubsidized"></td>
					</tr>

					<tr class="private arrw">
						<th data-column="0"><h5>Private Loans</h5></th>
						<td data-column="1"><h6 class="data-total" name="privatetotal">$0</h6></td>
						<td data-column="2"><h6 class="data-total" name="privatetotal">$0</h6></td>
						<td data-column="3"><h6 class="data-total" name="privatetotal">$0</h6></td>
					</tr>
					<tr class="private-row">
						<th scope="row" data-column="0"><label for="institutionalloan" class="tooltip-info" data-tooltip="Loans from Your School: A private loan from your school may have variable interest rates, require a credit check and/or a cosigner and lack many of the repayment options of federal student loans. Students should explore all of their federal grant and loan options before taking out a private student loan.">Loans from Your School</label></th>
						<td data-column="1">
							<input type="text" class="school-data" value="0" name="institutionalloan">
							<input type="text" class="school-data interest-rate" value="0" name="institutionalloanrate">
							<a href="#" class="rate-change up"><span class="visuallyhidden">Up</span></a> <a href="#" class="rate-change down"><span class="visuallyhidden">Down</span></a>
						</td>
						<td data-column="2">
							<input type="text" class="school-data" value="0" name="institutionalloan">
							<input type="text" class="school-data interest-rate" value="0" name="institutionalloanrate">
							<a href="#" class="rate-change up"><span class="visuallyhidden">Up</span></a> <a href="#" class="rate-change down"><span class="visuallyhidden">Down</span></a>
						</td>
						<td data-column="3">
							<input type="text" class="school-data" value="0" name="institutionalloan">
							<input type="text" class="school-data interest-rate" value="0" name="institutionalloanrate">
							<a href="#" class="rate-change up"><span class="visuallyhidden">Up</span></a> <a href="#" class="rate-change down"><span class="visuallyhidden">Down</span></a>
						</td>
					</tr>
					<tr class="private-row">
						<th scope="row" data-column="0"><label for="privateloan" class="tooltip-info" data-tooltip="Private Loans often have variable interest rates, require a credit check and/or a cosigner and lack many of the repayment options of federal student loans. Students should explore all of their federal grant and loan options before taking out a private student loan.">Other Loans</label></th>
						<td data-column="1">
							<input type="text" class="school-data" value="0" name="privateloan">
							<input type="text" class="school-data interest-rate" value="0" name="privateloanrate">
							<a href="#" class="rate-change up"><span class="visuallyhidden">Up</span></a> <a href="#" class="rate-change down"><span class="visuallyhidden">Down</span></a>
						</td>
						<td data-column="2">
							<input type="text" class="school-data" value="0" name="privateloan">
							<input type="text" class="school-data interest-rate" value="0" name="privateloanrate">
							<a href="#" class="rate-change up"><span class="visuallyhidden">Up</span></a> <a href="#" class="rate-change down"><span class="visuallyhidden">Down</span></a>
						</td>
						<td data-column="3">
							<input type="text" class="school-data" value="0" name="privateloan">
							<input type="text" class="school-data interest-rate" value="0" name="privateloanrate">
							<a href="#" class="rate-change up"><span class="visuallyhidden">Up</span></a> <a href="#" class="rate-change down"><span class="visuallyhidden">Down</span></a>
						</td>
					</tr>
				</tbody>
				<tbody>
					<tr class="breakdown">
						<th data-column="0"><h4>Breakdown of costs and contributions for one year of school</h4></th>
						<td data-column="1">
							<div class="meter group">
								<div class="bars">
									<div class="left-to-pay">
										<span>Left to Pay</span>
										<h3 name="gap">$0</h3>
									</div>
									<div class="bars-container">
										<div class="chart_mask_internal">
											<div class="full">
												<div class="bar discount bar-info" name="pell" data-tooltip="Pell Grants"></div>
												<div class="bar discount bar-info" name="scholar" data-tooltip="Other Scholarships &amp; Grants"></div>
												<div class="bar discount bar-info" name="tuitionassist"  data-tooltip="Military Tuition Assistance"></div>
												<div class="bar discount bar-info" name="gibill" data-tooltip="GI Bill"></div>
												<div class="bar savings bar-info" name="savings" data-tooltip="What You Can Pay"></div>
												<div class="bar savings bar-info" name="family" data-tooltip="What Family &amp; Others Can Pay"></div>
												<div class="bar savings bar-info" name="state529plan" data-tooltip="Parent Loans"></div>
												<div class="bar savings bar-info" name="workstudy" data-tooltip="Work-Study"></div>
												<div class="bar fedloans bar-info" name="perkins" data-tooltip="Perkins Loans"></div>
												<div class="bar fedloans bar-info" name="staffsubsidized" data-tooltip="Subsidized Federal Loans"></div>
												<div class="bar fedloans bar-info" name="staffunsubsidized" data-tooltip="Unsubsidized Federal Loans"></div>
												<div class="bar privloans bar-info" name="privateloan"  data-tooltip="Loans from Your School"></div>
												<div class="bar privloans bar-info" name="institutionalloan" data-tooltip="Other Loans"></div>
											</div>
										</div>
										<div class="borrowing-container">
											<div class="bar borrowing"></div>
											<span class="tick-borrowing"></span>
											<div class="totalborrowing">
												Total Borrowing
												<span><b name="borrowingtotal">$0</b></span>
											</div>
										</div>
									</div>
								</div><!-- end .bars -->
								<div class="error_msg"><p>You have exceeded the cost of attendance</p></div>			
							</div><!-- end .meter --></td>
						<td data-column="2">
							<div class="meter group">
								<div class="bars">
									<div class="left-to-pay">
										<span>Left to Pay</span>
										<h3 name="gap">$0</h3>
									</div>
									<div class="bars-container">
										<div class="chart_mask_internal">
											<div class="full">
												<div class="bar discount bar-info" name="pell" data-tooltip="Pell Grants"></div>
												<div class="bar discount bar-info" name="scholar" data-tooltip="Other Scholarships &amp; Grants"></div>
												<div class="bar discount bar-info" name="tuitionassist"  data-tooltip="Military Tuition Assistance"></div>
												<div class="bar discount bar-info" name="gibill" data-tooltip="GI Bill"></div>
												<div class="bar savings bar-info" name="savings" data-tooltip="What You Can Pay"></div>
												<div class="bar savings bar-info" name="family" data-tooltip="What Family &amp; Others Can Pay"></div>
												<div class="bar savings bar-info" name="state529plan" data-tooltip="Parent Loans"></div>
												<div class="bar savings bar-info" name="workstudy" data-tooltip="Work-Study"></div>
												<div class="bar fedloans bar-info" name="perkins" data-tooltip="Perkins Loans"></div>
												<div class="bar fedloans bar-info" name="staffsubsidized" data-tooltip="Subsidized Federal Loans"></div>
												<div class="bar fedloans bar-info" name="staffunsubsidized" data-tooltip="Unsubsidized Federal Loans"></div>
												<div class="bar privloans bar-info" name="privateloan"  data-tooltip="Loans from Your School"></div>
												<div class="bar privloans bar-info" name="institutionalloan" data-tooltip="Other Loans"></div>
											</div>
										</div>
										<div class="borrowing-container">
											<div class="bar borrowing"></div>
											<span class="tick-borrowing"></span>
											<div class="totalborrowing">
												Total Borrowing
												<span><b name="borrowingtotal">$0</b></span>
											</div>
										</div>
									</div>
								</div><!-- end .bars -->
								<div class="error_msg"><p>You have exceeded the cost of attendance</p></div>			
							</div><!-- end .meter --></td>
						<td data-column="3">
							<div class="meter group">
								<div class="bars">
									<div class="left-to-pay">
										<span>Left to Pay</span>
										<h3 name="gap">$0</h3>
									</div>
									<div class="bars-container">
										<div class="chart_mask_internal">
											<div class="full">
												<div class="bar discount bar-info" name="pell" data-tooltip="Pell Grants"></div>
												<div class="bar discount bar-info" name="scholar" data-tooltip="Other Scholarships &amp; Grants"></div>
												<div class="bar discount bar-info" name="tuitionassist"  data-tooltip="Military Tuition Assistance"></div>
												<div class="bar discount bar-info" name="gibill" data-tooltip="GI Bill"></div>
												<div class="bar savings bar-info" name="savings" data-tooltip="What You Can Pay"></div>
												<div class="bar savings bar-info" name="family" data-tooltip="What Family &amp; Others Can Pay"></div>
												<div class="bar savings bar-info" name="state529plan" data-tooltip="Parent Loans"></div>
												<div class="bar savings bar-info" name="workstudy" data-tooltip="Work-Study"></div>
												<div class="bar fedloans bar-info" name="perkins" data-tooltip="Perkins Loans"></div>
												<div class="bar fedloans bar-info" name="staffsubsidized" data-tooltip="Subsidized Federal Loans"></div>
												<div class="bar fedloans bar-info" name="staffunsubsidized" data-tooltip="Unsubsidized Federal Loans"></div>
												<div class="bar privloans bar-info" name="privateloan"  data-tooltip="Loans from Your School"></div>
												<div class="bar privloans bar-info" name="institutionalloan" data-tooltip="Other Loans"></div>
											</div>
										</div>
										<div class="borrowing-container">
											<div class="bar borrowing"></div>
											<span class="tick-borrowing"></span>
											<div class="totalborrowing">
												Total Borrowing
												<span><b name="borrowingtotal">$0</b></span>
											</div>
										</div>
									</div>
								</div><!-- end .bars -->
								<div class="error_msg"><p>You have exceeded the cost of attendance</p></div>			
							</div><!-- end .meter --></td>
						</td>
					</tr>
				</tbody>
				<tbody>
					<tr class="stop bottom-border">
						<th colspan="4"><h3>After school</h3></th>
					</tr>
					<tr>
						<th scope="row" data-column="0"><h4 class="tooltip-info" data-tooltip="">Debt after graduation</h4></th>
						<td data-column="1"><span name="loanlifetime"></span></td>
						<td data-column="2"><span name="loanlifetime"></span></td>
						<td data-column="3"><span name="loanlifetime"></span></td>
					</tr>
					<tr>
						<th scope="row" data-column="0"><h4>Monthly payments for 10 years to cover total borrowing</h4></th>
						<td data-column="1">
							<div class="debt-pie" id="pie1"></div>
							<span name="loanmonthly"></span>
							<p><span class="payment-percent">0%</span> of your monthly salary.</p>
						</td>
						<td data-column="2">
							<div class="debt-pie" id="pie2"></div>
							<span name="loanmonthly"></span>
							<p><span class="payment-percent">0%</span> of your monthly salary.</p>
						</td>
						<td data-column="3">
							<div class="debt-pie" id="pie3"></div>
							<span name="loanmonthly"></span>
							<p><span class="payment-percent">0%</span> of your monthly salary.</p>
						</td>
					</tr>
					<tr>
						<th scope="row" data-column="0"><h4 class="tooltip-info" data-tooltip="Debt Burden: Measures your estimated debt after school against the national average starting salary for college grads.">Debt Burden</h4></th>
						<td data-column="1"><span name="debtburden"></span></td>
						<td data-column="2"><span name="debtburden"></span></td>
						<td data-column="3"><span name="debtburden"></span></td>
					</tr>
				</tbody>
				<tbody>
					<tr class="bottom-border">
						<th colspan="4"><h3>School Indicators</h3></th>
					</tr>
					<tr>
						<th scope="row" data-column="0"><h4>Graduation Rate</h4></th>
						<td data-column="1">
							<div class="gradrisk-container">
								<span name="gradriskpercent" class="gradrisk-percent">42%</span>
								<div class="gradrisk-pointer"></div>
							</div>
							<div class="gradrisk-bar">
								<div class="low">Low</div><div class="medium">Medium</div><div class="high">High</div>
							</div>
							<p name="gradrisk" class="gradrisk-text"></p>
						</td>
						<td data-column="2"><span name="gradrisk"></span></td>
						<td data-column="3"><span name="gradrisk"></span></td>
					</tr>
					<tr>
						<th scope="row" data-column="0"><h4>Loan Default Rate</h4></th>
						<td data-column="1"><span name="defaultrisk"></span></td>
						<td data-column="2"><span name="defaultrisk"></span></td>
						<td data-column="3"><span name="defaultrisk"></span></td>
					</tr>
					<tr>
						<th scope="row" data-column="0"><h4>Median Borrowing</h4></th>
						<td data-column="1"><span name="loandebtrisk"></span></td>
						<td data-column="2"><span name="loandebtrisk"></span></td>
						<td data-column="3"><span name="loandebtrisk"></span></td>
					</tr>
				</tbody>
			</table>
			<div id="tooltip-container">
				<div id="outertip"> </div>
				<div id="innertip"> </div>
				<p>content</p>
			</div>
			<div id="bar-info-container">
				<div id="outertip"> </div>
				<div id="innertip"> </div>
				<p>content</p>
			</div>
		</section><!-- end #comparison-tables -->

		<div id="save-footer">
			<div class="container">
				<div class="save-container">
					<input type="button" id="save-drawer-toggle" class="button" value="Save &amp; Share">
					<div class="links clearfix">
						<a class="start-again" href="#" id="start-again">Start Again</a>
						<a class="feedback" href="/paying-for-college/compare-financial-aid-and-college-cost/feedback/" target="_blank">Give us Feedback</a>
						<a class="about-worksheet" href="/paying-for-college/compare-financial-aid-and-college-cost/technote/" target="compare_info">About this Worksheet</a>
					</div>
				</div>
			</div><!-- end .container -->
		</div><!-- end #save-footer -->

	</div><!-- end #comparison-tool -->



{% endblock content %}
