.tip, .act{
    padding:4px 4px 4px 38px;
    border-radius:4px;
}

.tip{
    background:#eee url(tip-orange.png) no-repeat 10px 10px;
}

.act{
    background:#eee url(take-action.png) no-repeat 10px 10px;
}

button{margin-right:5px !important;}


.illus {
    min-height: 100px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 10px 0;
}

.illus{
	padding-left:123px;
}

.alert { background-image: url('http://files.consumerfinance.gov/f/theme/_/img/SDRA_loantype_icon.png'); }
.budget { background-image: url('http://files.consumerfinance.gov/f/theme/_/img/SDRA_confidentq_icon.png'); }
.paperwork { background-image: url('http://files.consumerfinance.gov/f/theme/_/img/SDRA_ibr_icon.png'); }
.extra { background-image: url('http://files.consumerfinance.gov/f/theme/_/img/SDRA_payments_icon.png'); }
.defer { background-image: url('http://files.consumerfinance.gov/f/theme/_/img/SDRA_defer_icon.png'); }
.call { background-image: url('http://files.consumerfinance.gov/f/theme/_/img/SDRA_phone_icon.png'); }
.mil { background-image: url('http://files.consumerfinance.gov/f/theme/_/img/SDRA_status_icon.png'); }

/* ADJUST MAIN CONTENT CONTAINER
This is for full width page background colors. It adjust some styles
from the main site stylesheet.
-------------------------------------------------------------------------------*/
.paying-for-college #maincontent {
    padding: 0 0 2em;
}

/* No breadcrumbs in PFC. Current Django templates output an empty UL when
breadcrumbs do not exist unfortunately. :( Bug reported; to be fixed in future. */
.bread {
    display: none;
}

/* Padding on inner containers */
.bread,
.sub-page-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

/* HEROS
This just the hero for the Comparison Tool.
-------------------------------------------------------------------------------*/
/* This is a placeholder for now. */
.pfc-hero-wrapper {
    background-color: #2cb34a;
    padding: 2.375em 3.125em;
    position: relative;
}

.pfc-hero-wrapper a {
    background-color: transparent;
    border-bottom: 1px dashed #101820;
    color: #101820;
}

.pfc-hero-wrapper a:hover,
.pfc-hero-wrapper a:active,
.pfc-hero-wrapper a:focus {
    border-bottom-style: solid;
}

/* IE7 calculates padding with decimals differently. This makes sure the Hero is full width. */
.lt-ie8 .pfc-hero-wrapper {
    width: 89.75%;
}

.pfc-hero-content {
    /* Not an official color, but a mix of green and white. */
    background-color: #d3efdb;
    float: left;
    padding: 1em;
    width: 35%;
}

.pfc-hero-image {
    position: absolute;
        right: 30px;
}

.pfc-hero-image img {
    vertical-align: bottom;
}

/* Use this class on Hero images to make it stick to bottom of container. */
.pfc-hero-image.alignbottom {
    bottom: 0;
}

.pfc-header {
    margin: 0 0 3em 0;
    position: relative;
}

.pfc-header h1 {
    font-size: 2.125em;
    font-weight: 600;
    margin-bottom: 0.25em;
    font-family: "Avenir Next", Arial, sans-serif;
    text-transform: none;
}

/* Sub-pages have a different sized H1 */
.pfc-header h1.sub-page {
    font-size: 1.625em;
    font-weight: 400;
}

/* PFC NAVIGATION
This has similar styles as the global site navigation.
-------------------------------------------------------------------------------*/
.pfc-nav-wrapper {
    background-color: #337e7d;
    border-bottom: 1px solid #101820;
    border-top: 1px solid #101820;
}

.pfc-nav-wrapper ul {
    background-color: #337e7d;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    /* Increase this if more nav items are added */
    width: 80%;
    display: table;
}

.pfc-nav-wrapper ul li {
    background-color: #337e7d;
    font-family: "Avenir Next", Verdana, sans-serif;
    font-weight: 500;
    font-size: 1em;
    position: relative;
    display: table-cell;
    width: auto;
    margin: 0;
}

.lt-ie8 .pfc-nav-wrapper ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.lt-ie9 .pfc-nav-wrapper ul li {
    font-family: "Avenir Next Demi", Verdana, sans-serif;
}

/* This class acts like a link because we don't want to use an empty <a> tag. */
.fake-link {
    cursor: pointer;
}

.pfc-nav-wrapper ul li a,
.fake-link {
    -webkit-transition: background-color ease 1000ms;
    -moz-transition: background-color ease 1000ms;
    transition: background-color ease 1000ms;
    display: block;
    width: auto;
    height: auto;
    padding: 0.5em 0.25em 0.25em;
    border-bottom: 0;
    color: #fff;
    text-align: center;
    background-color: #337e7d;
}

/* Because LIs are display: inline; in IE7, we add some padding to As to make the menu look better. */
.lt-ie8 .pfc-nav-wrapper ul li a {
    padding-left: 2em;
    padding-right: 2em;
}

.pfc-nav-wrapper ul li a:visited {
    color: #fff;
}

.pfc-nav-wrapper ul li a:hover,
.fake-link:hover {
    background-color: #ccdfdf;
    color: #000;
}

.pfc-nav-wrapper ul li a:focus {
    background-color: #ccdfdf;
    color: #000;
}

.pfc-nav-wrapper ul li a.is-active,
.pfc-nav-wrapper ul li .fake-link.is-active {
    background-color: #ccdfdf;
    color: #000;
}

/* Dropdown */
.pfc-nav-wrapper ul ul {
    background-color: #ccdfdf;
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    text-align: left;
    top: 100%;
    width: 12.5em;
    z-index: 9999;
}

.pfc-nav-wrapper ul ul li {
    background-color: #ccdfdf;
    border-bottom: 1px solid #000;
    display: block;
    width: 100%;
}

.pfc-nav-wrapper ul ul a,
.pfc-nav-wrapper ul ul a:visited {
    background-color: #ccdfdf;
    color: #000;
    display: block;
    padding: 1em 0.5em 0.75em 1.5em;
    text-align: left;
}

.pfc-nav-wrapper li:hover > ul,
.pfc-nav-wrapper li.focus > ul { /* Display the dropdown on hover */
    left: 0; /* Bring back on-screen when needed */
}

.pfc-nav-wrapper ul ul li:hover > ul,
.pfc-nav-wrapper ul ul li.focus > ul { /* Display the dropdown on hover */
    left: 100%; /* Bring back on-screen when needed */
    top: 0;
}