/* comparison tool
-------------------------------------------------------------------------------*/

/* HEADER BUSINESS */
h1.p4ch {
    position: relative;
    font-size: 2.5em;
    font-weight: 400;
    color: #D83D00;
    width: 900px;
    margin: 10px auto 4px 0;
    line-height: 1.375;
    font-family: "Avenir Next", Arial, sans-serif;
    text-transform: none;
}
.timeline,
.horizontal-bar {
	 font-family: "Avenir Next", Arial, sans-serif;
}

/* TIMELINE */
.timeline {
    height: 50px;
    background-image: url(../images/timeline/timeline-bg.png); width:960px;
    background-repeat: no-repeat;
    background-position: 0 38px;
    position: relative;
    font-size: 0.625em;
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-top: 10px;

}

/* Extending our .links class here. */
.timeline .nav-links > li {
	margin-right: 10px;
}

/* Crazy different numbers here so we can have different distances between points on the timeline.
   Each of these are lis in the menu.
*/ 
.research {
	margin-left: 60px;
}

.finaid {
	margin-left: 5px;
}

.loans {
	margin-left: 10px;
}

.compare {
	margin-left: 10px;
}

.manage {
	margin-left: 50px;
}

.repay {
	margin-left: 5px;
}

.ico-process {
	width: 38px;
	height: 40px;
}

.ico-process-applications {
	background: url(../images/timeline/applications.png);
	background-position: 0 0;
}

.ico-process-applications.selected,
.ico-process-applications:hover {
	width: 38px;
	height: 40px;
	background-position: -37px 0;
}

.ico-process-fafsa {
	background: url(../images/timeline/fafsa.png);
	background-position: 0 0;
}

.ico-process-fafsa.selected,
.ico-process-fafsa:hover {
	width: 38px;
	height: 40px;
	background-position: -37px 0;
}

.ico-process-loans-guide {
	background: url(../images/timeline/loans-guide.png);
	background-position: 0 0;
}

.ico-process-loans-guide.selected,
.ico-process-loans-guide:hover {
	width: 38px;
	height:40px;
	background-position: -37px 0;
}

.ico-process-comparison {
	width: 38px;
	height: 40px;
	background: url(../images/timeline/comparison.png);
	background-position: 0 0;
}

.ico-process-comparison{
	width:38px;
	height:40px;
	background:url(../images/timeline/comparison.png); 
	background-position: 0 0; top left;
} 

.ico-process-comparison.selected,
.ico-process-comparison:hover {
	width: 38px;
	height: 40px;
	background-position: -37px 0;
}

.ico-process-banking-guide {
	width: 38px;
	height: 40px;
	background: url(../images/timeline/banking-guide.png);
	background-position: 0 0;
}


.ico-process-banking-guide {
	width:38px; 
	height:40px; 
	background:url(../images/timeline/banking-guide.png); 
	background-position: 0 0; top left;
}
.ico-process-banking-guide.selected,
.ico-process-banking-guide:hover {
	width:38px;
	height:40px;
	background-position: -37px 0;
}

.ico-process-ultratool {
	width: 38px;
	background: url(../images/timeline/ultratool.png);
}

.ico-process-ultratool.selected,
.ico-process-ultratool:hover {
	width:38px;
	height:40px;
	background-position: -37px 0;
}

/* Labels */
.top-process-label,
.ico-process,
.bottom-process-label {
	display: block;
}

.top-process-label {
	padding: 0 0 5px;
}

.bottom-process-label {
	padding: 10px 0 0 20px;
}

/*.process-hover {display:none;}*/

/* orange */
.orange {
	color: #D83D00;
}

.orange-bg {
	background-color: #D83D00;
	border-color: #D83D00;
	color: #FFFFFF;
}

.horizontal-bar {
	padding: 5px 0 5px 10px;
	margin-top: 10px;
	font-size: 0.75em;
	font-weight: 500;
	text-transform: uppercase;
}
/* END TIMELINE */


/* global */

#comparison-tool {
	font-family: "Avenir Next", Verdana, sans-serif !important;
}
#comparison-tool button,
#comparison-tool .button {
	color: #fff;
	background-color: #D83D00;
	font-family: "Avenir Next", Verdana, sans-serif;
	font-weight: 500;
	text-transform: none;
	letter-spacing: 0;
	border-radius: 0;
	font-size: .875em;
	border: 0;
	position: relative;
	top: 0;
	padding: .5em 1em;
	-webkit-transition: none
	-moz-transition: none;
	transition: none;
}
#comparison-tool button + button {
	margin-top:1em;
}
#comparison-tool button[disabled=disabled],
#comparison-tool button[disabled],
#comparison-tool button.disabled,
#comparison-tool .button.disabled,
#comparison-tool .button.cancel,
#comparison-tool .button.preset {
	background: #808080;
}
#comparison-tool .button-small {
	font-size: .75em;
	padding: .5em 1em;
}
#comparison-tool input[type=checkbox],
#comparison-tool input[type=radio] {
	margin-right: .125em;
}
#comparison-tool .tip {
	background: none;
	color: #0081a1;
	border-bottom: 1px solid #0081a1;
}

#comparison-tool b {
	font-weight: 600;
}



/* grid
-------------------------------------------------------------------------------*/

#comparison-tool .container {
	width: 900px;
	margin: 0 auto;
}
#comparison-tool .wrapper {
	margin: 0 20px;
}
#comparison-tool .col1,
#comparison-tool .col2,
#comparison-tool .col3,
#comparison-tool .col4,
#comparison-tool .col5,
#comparison-tool .col6,
#comparison-tool .col7,
#comparison-tool .col8,
#comparison-tool .col9,
#comparison-tool .col10 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
#comparison-tool .col1 { width: 66px; }
#comparison-tool .col2 { width: 152px; }
#comparison-tool .col3 { width: 238px; }
#comparison-tool .col4 { width: 324px; }
#comparison-tool .col5 { width: 410px; }
#comparison-tool .col6 { width: 496px; }
#comparison-tool .col7 { width: 582px; }
#comparison-tool .col8 { width: 668px; }
#comparison-tool .col9 { width: 754px; }
#comparison-tool .col10 { width: 840px; }
#comparison-tool .pre1 { padding-left: 66px; }
#comparison-tool .pre2 { padding-left: 152px; }
#comparison-tool .pre3 { padding-left: 238px; }
#comparison-tool .pre4 { padding-left: 324px; }
#comparison-tool .pre5 { padding-left: 410px; }
#comparison-tool .pre6 { padding-left: 496px; }
#comparison-tool .pre7 { padding-left: 582px; }
#comparison-tool .pre8 { padding-left: 668px; }
#comparison-tool .pre9 { padding-left: 754px; }
#comparison-tool .suf1 { padding-right: 66px; }
#comparison-tool .suf2 { padding-right: 152px; }
#comparison-tool .suf3 { padding-right: 238px; }
#comparison-tool .suf4 { padding-right: 324px; }
#comparison-tool .suf5 { padding-right: 410px; }
#comparison-tool .suf6 { padding-right: 496px; }
#comparison-tool .suf7 { padding-right: 582px; }
#comparison-tool .suf8 { padding-right: 668px; }
#comparison-tool .suf9 { padding-right: 754px; }

/* header
-------------------------------------------------------------------------------*/

#comparison-tool #comparison-tool-header {
	margin: 1em 0 3em 0;
	position: relative;
}
#comparison-tool #comparison-tool-header h1 {
	position: relative;
	font-size: 4em;
	font-weight: 400;
	color: #D83D00;
	width: 900px;
	margin: 0 auto .25em auto;
}
#comparison-tool #comparison-tool-header h1 sup {
	font-size: .25em;
	font-weight: 700;
	color: #808080;
	top: -2.5em;
	letter-spacing: .083333em;
	text-transform: uppercase;
}
#comparison-tool #comparison-tool-header h4 {
	background: #D83D00;
	color: #fff;
	font-size: .75em;
	padding: .5em 38px;
	letter-spacing: .083333em;
}
#comparison-tool #comparison-tool-header .header-links {
	margin: 3em auto 0 auto;
	width: 900px;
}

#comparison-tool table {
	border: none;
	border-collapse: separate;
	border-spacing: 0 0.5em;
}

#comparison-tool thead th {
	background: transparent;
	color: #333;
	border: none;
	text-align: left;
	font-size: 1em;
	line-height: 1em;
}
#comparison-tool thead h2 {
	text-transform: none;
	font-size: 1.5em;
	letter-spacing: 0;
	line-height: 1.3em;
	font-weight: 700;
}

#comparison-tool thead #institution-row th .remove-this-school {
	font-size: 0.75em;
	font-weight: 400;
	margin-bottom: 0.75em;
}

#comparison-tool thead #institution-row th .remove-confirm {
	background-color: #FFF;
	border: 1px solid black;
	display: none;
	font-weight: 400;
	padding: 1em .5em;
	position: absolute;
	max-width: 15%;
}

#comparison-tool thead #institution-row th .remove-confirm a {
	display: inline-block;
	margin: .5em auto .5em auto;
	text-align: center;
	width: auto;
}

#comparison-tool td, #comparison-tool td input {
	text-align: center;
}
#comparison-tool td input {
	border: 1px solid #fff;
}
#comparison-tool td input:focus, #comparison-tool td input:hover {
	border: 1px solid #989898;
	background: #fdf3e0;
}

#comparison-tool thead .fixed {
	position: fixed;
	top: 0;
	background: #fff;
	border: 1px solid #bfbfbf;
	border-top: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	width: 975px;
	z-index: 5;
}

#comparison-tool thead .fixed h2 {
	font-size: 0.875em;
	line-height: 1.25em;
}
#comparison-tool h4 {
	text-transform: none;
	letter-spacing: 0;
	font-size: 1.125em;
}
#comparison-tool .totalcont h4, #comparison-tool .totalcost h4 {
	font-size: 1.25em;
}
#comparison-tool .totalcont h6.data-total, #comparison-tool .totalcost h6.data-total {
	font-size: 1.5em;
}
#comparison-tool h6 {
	font-size: 1.125em;
}
#comparison-tool table h3 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.9em;
	text-align: left;
}
#comparison-tool table tbody {
	padding-bottom: 1em;
}

#comparison-tool table tbody th {
	font-size: 0.875em;
	border-right: none;
	vertical-align: middle;
	padding: 0.5em 1em;
}

#comparison-tool table > tbody thead th {
	text-transform: uppercase;
	font-weight: 600;
	padding: 0.5em 0.5em 0.5em 1em;
}

#comparison-tool table td {
	padding: .1875em 0;
}

#comparison-tool table thead th {
	border: none;
	color: #585858;
	background: transparent;
	padding: 0.5em 0;
}

#comparison-tool th {
	width: 25%;
}

#comparison-tool td {
	border-right: none;
}

#comparison-tool td:last-child {
	border-right: none;
}

#comparison-tool thead th {
	text-align: left;
}
#comparison-tool tbody > th, tbody thead th:first-child {
	text-align: right;
	padding-right: 0.9em;
}

.nopad {
	padding: 0;
}

.left-to-pay h3 {
	font-size: 1.4em;
	text-align: right;
}
.grants th, .grants td {
	border-bottom: 5px solid #7da0c3;
}
.federal th, .federal td {
	border-bottom: 5px solid #f59d65;
}
.private th, .private td {
	border-bottom: 5px solid #f5c455;
}
.grants h5, .federal h5, .private h5, .contributions h5 {
	font-size: 1.125em;
}
.grants h6, .federal h6, .private h6, .contributions h6 {
	font-size: 1.125em;
}
.contributions th, .contributions td {
	border-bottom: 5px solid #d6cca3;
}
.totalcost {
	background: #fcebc9;
}
.totalcont {
	background: #d4e0eb;
}
.breakdown th, .breakdown td {
	background: #f8e0d4;
}
.hide, .tr-hide {
	display:none;
}

.arrw th:first-child {
	background: url(http://dev.consumerfinance.gov/f/theme/_/img/showhide_collapse.png) no-repeat 1.5em 0.5em;
}
.arrw-collapse th:first-child {
	background: url(http://dev.consumerfinance.gov/f/theme/_/img/showhide_expand.png) no-repeat 1.5em 0.5em;
}

.totalcost.arrw th:first-child, .totalcost.arrw td:first-child, 
.totalcont.arrw th:first-child, .totalcont.arrw td:first-child {
	background-position: 0.5em 0.5em
}


.breakdown.fixed {
	position: fixed;
	bottom: 0;
	background: #fff;
	border: 1px solid #bfbfbf;
	border-bottom: none;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.25);
	width: 975px;
}
.breakdown.fixed th, .breakdown.fixed td {
	background: #fff;
	padding: 0.5em;
}
.breakdown.fixed td {
	width:227px;
}

#institution-row th .add-a-school {
	background-color: #FFF;
	border: 3px dashed #d24505;
	color: #000;
	display: block;
	font-size: 1em;
	height: 200px;
	margin: 0 auto;
	text-align: center;
	padding: 1em .25em;
	position: absolute;
	width: 200px;
}

#institution-row.fixed .add-a-school {
	height: 1em;
	overflow: hidden;
	position: static;
}

#institution-row th .add-a-school .huge {
	border: none;
	color: #000;
	display: block;
	font-size: 8em;
	margin: 30% 0 0 0;
}

#institution-row th .add-school-info {
	background-color: #e6e6e6;
	display: none;
	font-size: 1em;
	padding: .25em .5em;
	position: absolute;
	width: 200px;
}

#institution-row th .add-school-info label {
	font-size: 1em;
} 

#institution-row th .add-school-info input {
	font-size: .8em;
}

#institution-row th .add-school-info .search-results {
	background-color: #fff;
	border: 1px solid black;
	display: none;
	font-size: .9em;
	list-style-type: none;
	margin: 0;
		margin-bottom: 1em;
	padding: .25em;
}

#institution-row th .add-school-info .search-results li a {
	border: none;
	font-weight: normal;
}
#institution-row th .add-school-info .search-results li p {
	margin: .1em 0 .5em .75em;
	font-weight: 400;
	font-size: .8em;
	font-style: italic;
	line-height: 1em;
}

#institution-row th .add-school-info button {
	margin: 1em auto 0 auto;
}

#institution-row th .add-school-info .hidden-box {
	display: none;
}

.grants-row td .gibill-panel {
	background-color: #d3d3d3;
	display: none;
	font-size: .8em;
	padding: .5em 1em 1em 1em;
	position: absolute;
		top: 4em;
	text-align: left;
	z-index: 2;
}

.gibill-panel > fieldset {
	width: 100%;
}

.gibill-calculator-tip {
	background: url(../images/gibill-arrow-up.png) 0 0 no-repeat;
	position: absolute;
		top: -8px;
		left: 50px;
	overflow: visible;
	height: 10px;
	width: 10px;
}

.grants-row td .gibill-panel label {
	display: block;
	margin: 1em 0 .25em 0;
}

.grants-row td .gibill-panel select {
	background-color: #f4f4f4;
	max-width: 90%;
	margin-bottom: 1.5em;
}

#comparison-tables input.radio-input {
	display: inline;
}

#comparison-tables label.radio-label {
	display: inline;
	margin: 1em 0 .25em 0;
}

#comparison-tables label.radio-label:after {
	content: "\A";
	white-space: pre;
}

#comparison-tables .military-calculate {
	background-color: #d12124;
	display: block;
	margin: 1.5em auto;
	padding: 0.5em 1 em;
	text-transform: none;
	width: 50%;
}

 /*GI Bill Calculator Link */
#comparison-tool .gibill-calculator {
	/*background-color: #d12124;
	border: 0;
	color: #fff;*/
	font-size: 0.75em;
	padding: 0.35em 0 0.35em 2em;
	position: absolute;
		top: -0.3em;
		left: 1em;
	text-align: left;
	width: 5em;
}

.gibill-calculator:hover,
.gibill-calculator:active,
.gibill-calculator:focus {
	background-color: #d96a4f;
	text-decoration: underline;
}

/* Column headers */
#comparison-tool section > table > thead th {
	background: transparent;
	color: #585858;
	border: none;
	vertical-align: top;
	font-size: 1em;
	font-weight: 700;
	line-height: 1.25em;
	padding: 0.5em;
}

/* Colored borders on collapsable rows*/
#total-costs table thead th {
	border-top: 5px solid #e26e40;
}
#scholarships thead th {
	border-top: 5px solid #7da0c3;
}
#federal-loans thead th {
	border-top: 5px solid #f59d65;
}
#private-loans thead th {
	border-top: 5px solid #f5c455;
}
#contributions thead th {
	border-top: 5px solid #d6cca3;
}

#estimated-debt td {
	padding: 0.1875em 1em;
}

#estimated-debt table thead th {
	border-top: 5px solid #e26e40;
}

.private-row td {
	position: relative;
}


#comparison-tool .private-row .interest-rate, #comparison-tool .private-row .interest-rate:hover {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0em;
	box-shadow: none;
	font-size: 1em;
	height: 1.75em;
	margin: 0;
	padding: 0 0 0 0.4em;	
	position: absolute;
		right: .5em;
		top: .2em;
	text-align: left;
	-webkit-box-sizing: border-box;
	width: 4em;
}
#comparison-tool .private-row td .rate-change {
	border: 0;
	display: block;
	font-size: .5em;
	height: 2em;
	padding: 0;
	position: absolute;
		right: -1.2em;
		top: .4em;
	width: 5.5em;
}
#comparison-tool .private-row td .rate-change.down {
	background: url(../images/arrow-down.png) 16px 0 no-repeat;
	position: absolute;
		top: 1.9em;
}
#comparison-tool .private-row td .rate-change.up {
	background: url(../images/arrow-up.png) 16px 2px no-repeat;
}


/* Highlighted column */
table .selected,
#total-costs table thead th.selected,
#financial-aid table thead th.selected,
#estimated-debt table thead th.selected {
	background-color: #ffe;
}

/* Tooltip */
.tooltip-info, .tooltip-info:hover {
	cursor: auto;
	border-bottom: none;
}

input.tooltip-info {
	border-bottom: 1px solid #fff;
}

input.tooltip-info:hover, input.tooltip-info:focus {
	border-bottom: 1px solid #AFAFB3;
}


/* Inputs */
td input {
	border: 1px solid #fff;
	background: transparent;
	padding: .25em .5em;
	margin: 0 0.5em;
}

td input:focus, td input:hover {
	border: 1px solid #AFAFB3;
	border-radius: 0.25em;
	box-shadow: inset 0px 1px 3px #CCC;
	-webkit-box-sizing: border-box;
	background-color: white;
}

td input.disabled, td input.disabled:hover,  
td h6.disabled, td h6.disabled:hover {
	border: none;
	color: transparent;
}

.tooltip-info, .tooltip-info:hover {
	cursor: help;
	border-bottom: 1px dotted #50a748;
}

h4.tooltip-info {
	display: inline-block;
}

label.tooltip-info {
	display: inline;	
}

#tooltip-container {
	background-color: #a0f798;
	border: 2px solid #50a748;
	display: none;
	font-style: normal;
	font-size: .8em;
	padding: 10px;
	position: absolute;
	text-align: justify;
	width: 20em;
	z-index: 3000;
}

#bar-info-container {
	background-color: #f4f4f4;
	border: 2px solid #666;
	display: none;
	font-style: normal;
	font-size: .8em;
	padding: .25em 2em;
	position: absolute;
	text-align: justify;
	z-index: 3000;
}
#tooltip-container > p,
#bar-info-container > p {
	padding: 0;
	margin: 0;
}

/* These elements, #outertip and #innertip, make the little speech-balloon styled
	tip appear along the top of the tooltip. */
#tooltip-container #outertip {
	border: 10px solid transparent;
	border-bottom-color: #50a748;
	content: ' ';
	height: 0;
	position: absolute;
	left: 5px;
	top: -20px;
	width: 0;
}
#tooltip-container #innertip {
	border: 7px solid transparent;
	border-bottom-color: #a0f798;
	content: ' ';
	height: 0;
	position: absolute;
	left: 8px;
	top: -14px;
	width: 0;
}

#bar-info-container #outertip {
	border: 10px solid transparent;
	border-bottom-color: #000;
	content: ' ';
	height: 0;
	position: absolute;
	left: 5px;
	top: -20px;
	width: 0;
}
#bar-info-container #innertip {
	border: 7px solid transparent;
	border-bottom-color: #f4f4f4;
	content: ' ';
	height: 0;
	position: absolute;
	left: 8px;
	top: -14px;
	width: 0;
}




/* bar graph, aka .meter */

#comparison-tables .breakdown .meter {
	font-size: .75em;
}

#comparison-tables .breakdown .meter .bars .bars-container {
	margin: 0 auto;
}

#comparison-tables .breakdown .meter .chart_mask_internal {
	border-right: 2px solid #585858;
	height: 2em;
	padding: .75em 0 0 0;
	text-align: left;
}

#comparison-tables .breakdown .meter .bars .full {
	background: #585858;
	height: 2em;
	margin: 0;
}

#comparison-tables .breakdown .meter .bars .bar {
	border-right: 1px solid #fff;
	float: left;
	height: 2em;
	padding: 0;
}

#comparison-tables .breakdown .meter .bars .bar.discount {
	background: #5281ab;
}
#comparison-tables .breakdown .meter .bars .bar.savings {
	background: #c8bb89;
}
#comparison-tables .breakdown .meter .bars .bar.fedloans {
	background: #f4793b;
}
#comparison-tables .breakdown .meter .bars .bar.privloans {
	background: #f2af32;
}
#comparison-tables .breakdown .meter .bars .bar.overage {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=50);
	opacity: 0.9;	
}

#comparison-tables .breakdown .meter .left-to-pay {
	font-weight: 500;
	padding: 0 1em 0 0;
	text-align: right;
}

#comparison-tables .breakdown .meter .bars .borrowing-container {
	position: relative;
}

#comparison-tables .breakdown .meter .bars .borrowing-container .bar.borrowing {
	background: #dc0000;
	border: none;
	height: 5px;
	margin-top: .25em;
	position: relative;
		right: 0;
		top: 0;
}

#comparison-tables .breakdown .meter .bars .borrowing-container .totalborrowing {
	color: #dc0000;
	padding-top: 1.5em;
	text-align: left;
}

#comparison-tables .breakdown .meter .bars .borrowing-container .totalborrowing b {
	display: block;
}

#comparison-tables .breakdown .meter .bars .borrowing-container .tick-borrowing {
	background-color: #dc0000;
	display: block;
	height: .75em;
	position: relative;
		right: 0;
		top: .5em;
	width: 2px;
}

#comparison-tables .breakdown .meter .error_msg {
	clear: left;
	display: none;
}

#comparison-tables .breakdown .meter .error_msg p {
	color: #dc0000;
	padding: .9em 1em 0em 1em;
	font-size: .8em;
	font-weight: bold;
	text-align: right;
}
#comparison-tables .debt-pie {
	float: left;
}

#comparison-tables .gradrisk-container {
	margin-bottom: 7px;
	position: relative;
		left: -5px;
	width: 10%;
}

#comparison-tables .gradrisk-container .gradrisk-value {
	border-bottom: 2px solid #666;
}
#comparison-tables .gradrisk-container .gradrisk-percent {
	font-size: .9em;
	text-align: center;	
	width: 4em;
}

#comparison-tables .gradrisk-pointer {
	border: 8px solid transparent;
	border-top-color: #666;
	position: absolute;
		left: 30%;
		top: 90%;
	width: 0;
	z-index: 5;
}

#comparison-tables .gradrisk-bar {
	margin: 5px auto 1em auto;
	width: 90%;
}

#comparison-tables .gradrisk-bar div {
	background-color: #e5e5e5;
	border: 1px solid black;
	border-left: none;
	color: #FFF;
	font-size: .75em;
	float: left;
	padding: .3em 0;
	width: 32%;
}

#comparison-tables .gradrisk-bar .low {
	background-color: #99b8c4;
}

#comparison-tables .gradrisk-bar .medium {
	background-color: #3b778d;
}

#comparison-tables .gradrisk-bar .high {
	background-color: #104d6e;
}

#comparison-tables .gradrisk-bar div:first-child {
	border: 1px solid black;
}


/* Helper Classes */

/* Hide visually, but make available to screenreaders */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.bottom-border th, .bottom-border td {
	border-bottom: 5px solid #585858;
}

/* Relatively position items */
.p-rel {
	position: relative;
}

/* Add a generic horizontal nav abstraction */
.nav-links {
	list-style: none;
    margin-left: 0;
    padding-left: 0;
}
	.nav-links > li,
    	.nav-links > li > a {
    		display: inline-block;
    		*display: inline;
    		zoom: 1;
    		margin-right: 0.25em;
    }
