/* comparison tool
-------------------------------------------------------------------------------*/


/* TIMELINE */

/* orange */
.orange {color:#D83D00;}
.orange-bg {background-color:#D83D00; border-color:#D83D00; color:#FFFFFF;}

.horizontal-bar {padding:5px 0px 5px 10px; margin-top:10px; font-size:12px; font-weight:500; text-transform:uppercase;}

.ico-process {width:38px; height:40px;}

#process-label-apply {left:20px;}
#process-label-financial {left:180px;}
#process-label-choose {left:400px;}
#process-label-attend {left:600px;}
#process-label-graduate {left:750px;}

.ico-process-applications{background:url(../images/timeline/applications.png); background-position: 0px 0;} 
.ico-process-applications.selected,
.ico-process-applications:hover {width:38px; height:40px; background-position: -37px 0; } 
#process-icon-applications {left:100px;}
#process-label-research {left:100px;top:75px;}


.ico-process-fafsa{background:url(../images/timeline/fafsa.png); background-position: 0px 0;} 
.ico-process-fafsa.selected,
.ico-process-fafsa:hover {width:38px; height:40px; background-position: -37px 0; } 
#process-icon-fafsa {left:200px;}
#process-label-fafsa {left:200px;top:75px;}


.ico-process-loans-guide{background:url(../images/timeline/loans-guide.png); background-position: 0 0;} 
.ico-process-loans-guide.selected,
.ico-process-loans-guide:hover {width:38px; height:40px; background-position: -37px 0; } 
#process-icon-loans-guide {left:330px;}
#process-label-loans-guide {left:330px;top:75px;}

.ico-process-comparison{width:38px; height:40px;  background:url(../images/timeline/comparison.png); background-position: 0 0; top left;} 
.ico-process-comparison.selected,
.ico-process-comparison:hover {width:38px; height:40px; background-position: -37px 0;  } 
#process-icon-comparison {left:450px;}
#process-label-comparison {left:450px; top:75px;}

.ico-process-banking-guide{width:38px; height:40px; background:url(../images/timeline/banking-guide.png); background-position: 0 0; top left;}
.ico-process-banking-guide.selected,
.ico-process-banking-guide:hover {width:38px; height:40px; background-position: -37px 0;}
#process-icon-banking-guide {left:630px;}
#process-label-banking-guide {left:630px; top:75px;}

.ico-process-ultratool{width: 38px; background: url(../images/timeline/ultratool.png); } 
.ico-process-ultratool.selected,
.ico-process-ultratool:hover {width:38px; height:40px; background-position: -37px 0; } 
#process-label-ultratool {left:780px; top:75px;}
#process-icon-ultratool {left:780px;}


/* Header Process */

.timeline {
    height:50px;
    background-image:url(../images/timeline/timeline-bg.png); width:960px;
    background-repeat:no-repeat;
    background-position:0px 38px;
    position:relative;
    font-size:10px;
    text-transform:uppercase;
    margin-bottom:90px;
    margin-top:20px;

}
.process-link {text-decoration:none;}
.process-label {position:absolute; margin:0;}
.ico-process {position:absolute; top:20px;}
/*.process-hover {display:none;}*/


.event-dot {width: 8px; height: 8px; position:absolute; top:36px;}
#event-dot-apply {background:url(../images/timeline/event-dot.png); background-position: 0 0; left:20px;}
#event-dot-financial {background:url(../images/timeline/event-dot.png); background-position: 0 0; left:180px;}
#event-dot-choose {background:url(../images/timeline/event-dot.png); background-position: 0 0; left:400px;}
#event-dot-attend {background:url(../images/timeline/event-dot.png); background-position: 0 0; left:600px;}
#event-dot-graduate {background:url(../images/timeline/event-dot.png); background-position: 0 0; left:750px;}
/* END TIMELINE */


table {
	border: none;
	border-collapse: separate;
	border-spacing: 0 0.5em;
}

thead th {
	background: transparent;
	color: #333;
	border: none;
	text-align: left;
	font-size: 1m;
	line-height: 1em;
}
thead h2 {
	text-transform: none;
	font-size: 1.25em;
	letter-spacing: 0;
	line-height: 1.3em;
	font-weight: 700;
}

td, tbody th {
	border: none;
}

thead #institution-row th .remove-this-school {
	font-size: 0.75em;
	font-weight: 400;
}

thead #institution-row th .remove-confirm {
	background-color: #FFF;
	border: 1px solid black;
	display: none;
	font-weight: 400;
	padding: 1em .5em;
	position: absolute;
	max-width: 15%;
}

thead #institution-row th .remove-confirm a {
	display: inline-block;
	margin: .5em auto .5em auto;
	text-align: center;
	width: auto;
}

table h4 {
	text-transform: none;
	letter-spacing: 0;
}
table h3 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1em;
}


.grants th, .grants td {
	border-top: 5px solid #7da0c3;
}
.federal th, .federal td {
	border-top: 5px solid #f59d65;
}
.private th, .private td {
	border-top: 5px solid #f5c455;
}
.contributions th, .contributions td {
	border-top: 5px solid #d6cca3;
}
.totalcost th, .totalcost td {
	background: #fcebc9;
}
.totalcont th, .totalcont td {
	background: #d4e0eb;
}
.breakdown th, .breakdown td {
	background: #f8e0d4;
}
.hide, .tr-hide {
	display:none;
}

.arrw th:first-child {
	background: url(http://dev.consumerfinance.gov/f/theme/_/img/showhide_collapse.png) no-repeat 0.25em 0.3em;
}
.arrw-collapse th:first-child {
	background: url(http://dev.consumerfinance.gov/f/theme/_/img/showhide_expand.png) no-repeat 0.25em 0.3em;
}
td, td input {
	text-align: center;
}
td input {
	border: 1px solid #fff;
}
td input:focus {
	border: 1px solid #989898;
	background: #fdf3e0;
}

thead .fixed {
	position: fixed;
	top: 0;
	background: #fff;
	border: 1px solid #bfbfbf;
	border-top: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	width: 975px;
	z-index: 5;
}
thead .fixed th:first-child, .breakdown.fixed th {
	width: 195px;
}
thead .fixed h2 {
	font-size: 0.875em;
	line-height: 1.25em;
}
.breakdown.fixed {
	position: fixed;
	bottom: 0;
	background: #fff;
	border: 1px solid #bfbfbf;
	border-bottom: none;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.25);
	width: 975px;
}
.breakdown.fixed th, .breakdown.fixed td {
	background: #fff;
}
.breakdown.fixed td {
	width:227px;
}

table tbody {
	padding-bottom: 1em;
}

table tbody th {
	font-size: 0.875em;
	border-right: none;
	vertical-align: middle;
	padding-right: 1em;
}

table > tbody thead th {
	text-transform: uppercase;
	font-weight: 600;
	padding: 0.5em 0.5em 0.5em 1em;
}

table td {
	padding: .1875em 0;
}

table thead th {
	border: none;
	color: #585858;
	background: transparent;
	padding: 0.5em 0;
}

th {
	width: 25%;
}

td {
	border-right: none;
}
td:last-child {
	border-right: none;
}

thead th {
	text-align: left;
}
tbody > th, tbody thead th:first-child {
	text-align: right;
	padding-right: 0.9em;
}
.nopad {
	padding: 0;
}

#institution-row th .add-a-school {
	background-color: #FFF;
	border: 3px dashed #d24505;
	color: #000;
	display: block;
	font-size: 1em;
	text-align: center;
	padding: 1em .25em;
	position: absolute;
	width: 25%;
}

#institution-row th .add-a-school .huge {
	border: none;
	color: #000;
	display: block;
	font-size: 8em;
	margin: 30% 0 0 0;
}

#institution-row.fixed th .add-a-school {
	display: none;
}

#institution-row th .add-school-info {
	background-color: #e6e6e6;
	display: none;
	font-size: 1em;
	padding: .25em .5em;
	position: absolute;
}

#institution-row th .add-school-info label {
	font-size: 1em;
} 

#institution-row th .add-school-info input {
	font-size: .8em;
}

#institution-row th .add-school-info .results {
	font-size: .9em;
	list-style-type: none;
	margin: .25em;
	padding: .25em;
}

#institution-row th .add-school-info .results li a {
	border: none;
	font-weight: normal;
}

#institution-row th .add-school-info .add-xml {
	display: none;
}

.grants-row td .gibill-panel {
	background-color: #d3d3d3;
	display: none;
	font-size: .8em;
	padding: .5em 1em 1em 1em;
	position: absolute;
	text-align: left;
}

.grants-row td .gibill-panel label {
	display: block;
	margin: 1em 0 .25em 0;
}

.grants-row td .gibill-panel select {
	max-width: 100%;
	margin-bottom: 1.5em;
}

.grants-row td .gibill-panel .military-residency-panel input.radio-input {
	display: inline;
}

.grants-row td .gibill-panel .military-residency-panel label.radio-label {
	display: inline;
}

.grants-row td .gibill-panel .military-residency-panel label.radio-label:after {
	content: "\A";
	white-space: pre;
}

.grants-row td .gibill-panel .military-residency-panel .military-calculate {
	margin: 1.5em auto;
}

/* Column headers */
section > table > thead th {
	background: transparent;
	color: #585858;
	border: none;
	vertical-align: top;
	font-size: 1em;
	font-weight: 700;
	line-height: 1.25em;
	padding: 0.5em;
}

/* Colored borders on collapsable rows*/
#total-costs table thead th {
	border-top: 5px solid #e26e40;
}
#scholarships thead th {
	border-top: 5px solid #7da0c3;
}
#federal-loans thead th {
	border-top: 5px solid #f59d65;
}
#private-loans thead th {
	border-top: 5px solid #f5c455;
}
#contributions thead th {
	border-top: 5px solid #d6cca3;
}

#estimated-debt td {
	padding: 0.1875em 1em;
}

#estimated-debt table thead th {
	border-top: 5px solid #e26e40;
}

/* Highlighted column */
table .selected,
#total-costs table thead th.selected,
#financial-aid table thead th.selected,
#estimated-debt table thead th.selected {
	background-color: #ffe;
}

/* Tooltip */
.tooltip-info, .tooltip-info:hover {
	cursor: auto;
	border-bottom: none;
}

input.tooltip-info {
	border-bottom: 1px solid #fff;
}

input.tooltip-info:hover, input.tooltip-info:focus {
	border-bottom: 1px solid #AFAFB3;
}


/* Inputs */
td input {
	border: 1px solid #fff;
	background: transparent;
	padding: .25em .5em;
	margin: 0 0.5em;
}

td input:focus, td input:hover {
	font-size: 1em;
	border: 1px solid #AFAFB3;
	border-radius: 0.25em;
	box-shadow: inset 0px 1px 3px #CCC;
	-webkit-box-sizing: border-box;
	background-color: white;
}

td input.disabled, td input.disabled:hover,  
td h6.disabled, td h6.disabled:hover {
	border: none;
	color: transparent;
}

.tooltip-info, .tooltip-info:hover {
	cursor: help;
	border-bottom: 1px dotted #50a748;
}

label.tooltip-info {
	display: inline;	
}

#tooltip-container {
	background-color: #a0f798;
	border: 2px solid #50a748;
	display: none;
	font-style: normal;
	font-size: .8em;
	padding: 10px;
	position: absolute;
	text-align: justify;
	width: 20em;
	z-index: 3000;
}

#bar-info-container {
	background-color: #f4f4f4;
	border: 2px solid #666;
	display: none;
	font-style: normal;
	font-size: .8em;
	padding: .25em 2em;
	position: absolute;
	text-align: justify;
	z-index: 3000;
}
#tooltip-container > p,
#bar-info-container > p {
	padding: 0;
	margin: 0;
}

/* These elements, #outertip and #innertip, make the little speech-balloon styled
	tip appear along the top of the tooltip. */
#tooltip-container #outertip {
	border: 10px solid transparent;
	border-bottom-color: #50a748;
	content: ' ';
	height: 0;
	position: absolute;
	left: 5px;
	top: -20px;
	width: 0;
}
#tooltip-container #innertip {
	border: 7px solid transparent;
	border-bottom-color: #a0f798;
	content: ' ';
	height: 0;
	position: absolute;
	left: 8px;
	top: -14px;
	width: 0;
}

#bar-info-container #outertip {
	border: 10px solid transparent;
	border-bottom-color: #000;
	content: ' ';
	height: 0;
	position: absolute;
	left: 5px;
	top: -20px;
	width: 0;
}
#bar-info-container #innertip {
	border: 7px solid transparent;
	border-bottom-color: #f4f4f4;
	content: ' ';
	height: 0;
	position: absolute;
	left: 8px;
	top: -14px;
	width: 0;
}




/* bar graph, aka .meter */

#comparison-tables .breakdown .meter {
	font-size: .75em;
	padding-bottom: .5em;
}

#comparison-tables .breakdown .meter .bars .bars-container {

}

#comparison-tables .breakdown .meter .chart_mask_internal {
	border-right: 2px solid #585858;
	height: 2em;
	padding: .75em 0 0 0;
	text-align: left;
}

#comparison-tables .breakdown .meter .bars .full {
	background: #585858;
	height: 2em;
	margin: 0;
}

#comparison-tables .breakdown .meter .bars .bar {
	border-right: 1px solid #fff;
	float: left;
	height: 2em;
	padding: 0;
}

#comparison-tables .breakdown .meter .bars .bar.discount {
	background: #5281ab;
}
#comparison-tables .breakdown .meter .bars .bar.savings {
	background: #c8bb89;
}
#comparison-tables .breakdown .meter .bars .bar.fedloans {
	background: #f4793b;
}
#comparison-tables .breakdown .meter .bars .bar.privloans {
	background: #f2af32;
}
#comparison-tables .breakdown .meter .bars .bar.overage {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=50);
	opacity: 0.9;	
}

#comparison-tables .breakdown .meter .left-to-pay {
	font-weight: 500;
	padding: 0 1em 0 0;
	text-align: right;
}

#comparison-tables .breakdown .meter .bars .borrowing-container {
	position: relative;
}

#comparison-tables .breakdown .meter .bars .borrowing-container .bar.borrowing {
	background: #dc0000;
	border: none;
	height: 5px;
	margin-top: .25em;
	position: relative;
		right: 0;
		top: 0;
}

#comparison-tables .breakdown .meter .bars .borrowing-container .totalborrowing {
	color: #dc0000;
	padding-top: 1.5em;
	text-align: left;
}

#comparison-tables .breakdown .meter .bars .borrowing-container .totalborrowing b {
	display: block;
}

#comparison-tables .breakdown .meter .bars .borrowing-container .tick-borrowing {
	background-color: #dc0000;
	display: block;
	height: .75em;
	position: relative;
		right: 0;
		top: .5em;
	width: 2px;
}

#comparison-tables .breakdown .meter .error_msg {
	clear: left;
	display: none;
}

#comparison-tables .breakdown .meter .error_msg p {
	color: #dc0000;
	padding: .9em 1em 0em 1em;
	font-size: .8em;
	font-weight: bold;
	text-align: right;
}